<!-- wp:template-part {"slug":"header","theme":"therosehill","tagName":"header"} /-->

<!-- wp:group {"className":"container !mx-auto !mt-0","layout":{"type":"constrained"}} -->
<div class="wp-block-group container !mx-auto !mt-0"><!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontSize":"8rem"}}} -->
    <h1 class="wp-block-heading has-text-align-center" style="font-size:8rem">404</h1>
    <!-- /wp:heading -->
    
    <!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"1.88rem"}}} -->
    <h2 class="wp-block-heading has-text-align-center" style="font-size:1.88rem">We can't seem to find the page you are looking for.</h2>
    <!-- /wp:heading -->
    
    <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center","flexWrap":"wrap","orientation":"horizontal"}} -->
    <div class="wp-block-buttons"><!-- wp:button {"width":50,"className":"is-style-outline"} -->
    <div class="wp-block-button has-custom-width wp-block-button__width-50 is-style-outline"><a class="wp-block-button__link wp-element-button">Head back to the home page</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:group -->
    
<!-- wp:template-part {"slug":"footer","theme":"therosehill","tagName":"footer"} /-->