<!-- wp:template-part {"slug":"header","theme":"therosehill","tagName":"header","className":"shadow"} /-->

<!-- wp:group {"className":"container !mx-auto","layout":{"type":"default"}} -->
<div class="wp-block-group container !mx-auto"><!-- wp:post-title {"style":{"typography":{"fontStyle":"normal","fontWeight":"700","lineHeight":"1.4","fontSize":"1.75rem"},"spacing":{"margin":{"bottom":"0.5rem"}}}} /-->

    <!-- wp:post-featured-image {"isLink":true,"width":"100%","className":"rounded-lg overflow-hidden"} /-->
    
    <!-- wp:post-content /--></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"therosehill","tagName":"footer","className":"!mx-auto"} /-->