<!-- wp:template-part {"slug":"header","theme":"therosehill","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"3rem","bottom":"3rem"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:3rem;margin-bottom:3rem"><!-- wp:post-featured-image {"aspectRatio":"16/9"} /-->

    <!-- wp:columns {"style":{"spacing":{"margin":{"top":"2.75rem","bottom":"2.75rem"}}}} -->
    <div class="wp-block-columns" style="margin-top:2.75rem;margin-bottom:2.75rem"><!-- wp:column {"width":"66.66%"} -->
    <div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:post-content /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"33.33%"} -->
    <div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:group {"style":{"border":{"color":"#7c7d7c","width":"1px"},"spacing":{"padding":{"top":"2rem","bottom":"2rem","left":"2rem","right":"2rem"}}},"layout":{"type":"default"}} -->
    <div class="wp-block-group has-border-color" style="border-color:#7c7d7c;border-width:1px;padding-top:2rem;padding-right:2rem;padding-bottom:2rem;padding-left:2rem"><!-- wp:heading {"textAlign":"center","level":3,"style":{"typography":{"fontStyle":"normal","fontWeight":"700","textTransform":"uppercase","fontSize":"1rem"},"color":{"text":"#7c7d7c"},"elements":{"link":{"color":{"text":"#7c7d7c"}}}},"fontFamily":"rh-anonymous-pro"} -->
    <h3 class="wp-block-heading has-text-align-center has-text-color has-link-color has-rh-anonymous-pro-font-family" style="color:#7c7d7c;font-size:1rem;font-style:normal;font-weight:700;text-transform:uppercase">Residency Date</h3>
    <!-- /wp:heading -->
    
    <!-- wp:therosehill-plus/residency-date /--></div>
    <!-- /wp:group -->
    
    <!-- wp:heading {"level":3,"style":{"typography":{"fontSize":"1.25rem","textTransform":"uppercase","fontStyle":"normal","fontWeight":"700"},"color":{"text":"#7c7d7c"},"elements":{"link":{"color":{"text":"#7c7d7c"}}}},"fontFamily":"rh-anonymous-pro"} -->
    <h3 class="wp-block-heading has-text-color has-link-color has-rh-anonymous-pro-font-family" style="color:#7c7d7c;font-size:1.25rem;font-style:normal;font-weight:700;text-transform:uppercase">Artist</h3>
    <!-- /wp:heading -->
    
    <!-- wp:therosehill-plus/artist-info /-->
    
    <!-- wp:therosehill-plus/all-record-releases /-->
    
    <!-- wp:therosehill-plus/events {"count":3,"eventView":"minimal","hideShowFilter":false} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"therosehill","tagName":"footer"} /-->